body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: transparent;
  opacity: 1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover:not(.active) {
  background-color: #ffffff;
  color: rgb(223, 166, 80);
}

.column-container {
  display: flex; /* Use flexbox to create a row layout */
  justify-content: space-between; /* Distribute columns evenly */
  flex-wrap: wrap; /* Allow columns to wrap to the next row on small screens */
}

.column {
  flex: 1; /* Allow columns to take equal space */
  padding: 0 10px; /* Add some padding between columns */
  max-width: calc(50% - 20px); /* Distribute columns evenly on small screens */
}

div.content {
  margin-left: 200px;
  padding: 10px 30px;
  font-size: 22px;
}

.centered-content,
.centered-project,
.left-content,
.left-columns {
  max-width: 70%;
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive;
  padding: 50px 0; /* Add consistent padding top and bottom */
}

.left-content,
.left-columns {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.centered-content,
.centered-project {
  text-align: center; /* Center-align content */
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: none;
    text-align: center;
    padding: 10px; /* Add padding for better touch interaction */
  }
  div.content {
    margin-left: 0;
    padding: 20px; /* Add padding for better spacing */
    text-align: left; /* Reset text alignment */
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
  }
}
